:root {
    --body-color: #fff9fb;
    /* --content-color: #F6F6EF; */
    --content-color: #9592c8;
    --navbar-color: #141414;
    --card-color: hsla(214, 48%, 64%, 0.723);
    --other: rgb(159, 130, 174);
    /* 
     141414
     F6F6EF
     AFAED6
    */
}

/*--------------------------- Navbar -------------------------------*/

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    padding: 5px;
    width: 70px;
    height: 70px;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--navbar-color) !important;
}

/*--------------------------- Login -------------------------------*/
.login-card-content {
    background-color: var(--content-color);
    padding: 2.5rem;
}

.btn-primary {
    border: 0;
    background-color: #141414;
}

.btn-primary:hover {
    /* color: black; */
    background-color: rgba(20, 20, 20, 0.889);
}

.login-card-background-img {
    background-image: url(/student044/dwes/img/Hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.login-card-background {
    background-color: var(--navbar-color);
}

.login-card-img {
    max-width: 20rem;
    opacity: 0.9;
}

.login-card-title {
    font-weight: bold;
}

/* -------------------------------Index------------------------ */

.index-hotel {
    width: 100%;
}

.card-room__img {
    background-image: url(/student044/dwes/img/rooms.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
}

tr,
td,
th {
    padding: 0.5rem;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn-user {
    /* background-color: #9592C8; */
    background-color: transparent;
    color: rgba(255, 255, 255, 0.55);
    padding: 0.4rem;
}

.btn-user__img {
    border-radius: 50%;
    width: 2rem;
}

.btn-user:hover {
    background-color: #141414;
    color: white;
}

.btn-user:focus {
    background-color: #141414;
    color: white;
    border: 0;
    outline: 0;
}



.bg-dark {
    background-color: #141414 !important;
}

.nav-pills li a:hover {
    background-color: #9592c8;
}

#reservation,
#customer,
#room,
#room_category {
    max-width: 92px;
}

.volverAtras{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f2f2f2;
}

.msgError{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 2.5rem;
    padding: .5rem;
    margin-bottom: 5px;
}

.section{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    padding: .4rem;
    /* margin-bottom: .5rem; */
    gap: .2rem;
}

.section summary{
    background-color: #9592c8;
    color: white;
    padding: .7rem;
    list-style: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

.section ul{
    background-color: #fff9fb;
    list-style: none;
    border-radius: 5px;
    padding: .5rem 1rem .5rem;
}


@media (min-width: 576px) {

    #reservation,
    #customer,
    #room,
    #room_category {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .carousel-item>img {
        height: 91vh !important;
    }

    .card-room__img {
        height: 30rem;
    }


}

/*
.contenedor-form{
    display: flex;
    justify-content: center;
    align-items: center;

}

.form{
    padding: 2rem;

}

.form__date{
    display: flex;
    gap: 2rem;

    margin-bottom: 1rem;
}


.date{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    gap: 1rem;
}

.date label{

    font-size: 1.5rem;
    font-weight: bold;
}

input[type='date']{
    background-color: #F6F6EF;
    color: black;
    padding: 1rem;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 5px;
    
}

::-webkit-calendar-picker-indicator{
    background-color: #9592C8;
    padding: .5rem;
    cursor: pointer;
    border-radius: 5px;
}

.submit{
    text-align: center;
}

.submit input[type='submit']{
    width: 50%;
}
*/