:root{
    --body-color: #fff9fb;
    --content-color: #F6F6EF;
    --navbar-color: #141414;
    --card-color :hsla(214, 48%, 64%, 0.723);
    --other: #f46036;
    /* #848C8A
    #80828C 
    F5F7F8*/
    
}

/*--------------------------- Navbar -------------------------------*/

.logo{
    padding: 5px;
    width: 70px;
    height: 70px;
}

.navbar{
    background-color: var(--navbar-color) !important;
}

/*--------------------------- Login -------------------------------*/
.login-card-content{
    background-color: var(--content-color);
    padding: 2.5rem;
}

.login-card-background-img{
    background-image: url(/student044/dwes/proyectoHotel/img/Hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.login-card-background{
    background-color: var(--navbar-color);
}

.login-card-img{
    max-width: 20rem;
    opacity: .9;
}

.login-card-title{
    font-weight: bold;
}

/* -------------------------------Index------------------------ */

.index-hotel{
    width: 100%;
}

.index-hotel__img{
    background-image: url(/student044/dwes/proyectoHotel/img/rooms.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
}
